/* Pagers Positioning */
.item-list ul.pager{
  display: inline-block;
  list-style:none;
  width: 100%;
  *display: inline;
  *zoom: 1;
  margin-left: 20px;
  margin-bottom: 0;
  margin-top: 10px;}
.item-list ul.pager li{
  display: inline;
}
.item-list ul.pager li a{
  float: left;
  padding: 4px 12px;
  line-height: 20px;
  text-decoration: none;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-left-width: 0;
  color: #3A4140;
}
.item-list ul.pager li a:hover,
.item-list ul.pager li a:focus{
  border: 1px solid #3DB502;
  color: #3DB502;
}
.item-list ul.pager .pager-current{
  float: left;
  padding: 4px 12px;
  line-height: 20px;
  background:#3DB502;
  color:#FFFFFF;
  font-weight:bold;
  border: 1px solid #dddddd;
  margin-left: 0;
}
.item-list ul.pager li:first-child a {
  border-left-width: 1px;
}
.item-list ul.pager .pager-first a,
.item-list ul.pager .pager-previous a,
.item-list ul.pager .pager-next a,
.item-list ul.pager .pager-last a {
  font-weight:bold;
  width: 60px;
} 


table {
  border: 1px solid #CCC;
  width: 100%;
}

thead th, th {
  background: #f7f7f7;
  border-bottom: 1px solid #ccc;
  color: #333;
}

td, th {
  padding: 4px 8px;
  vertical-align: middle;
}

th a, th a:link, th a:visited {
  text-decoration: none;
}

th a {
  display: block;
}

th a img {
  margin: 0 0 0 5px;
}

th.active {
  background: #DDD;
  border-left: 1px solid #CCC;
  border-right: 1px solid #CCC;
}

/* Odd & Even Styles */
tr.even td {
  background: #F1F5FA;
}

tr.odd td {
  background: #fff;
}

td.active {
  border-left: 1px solid #CCC;
  border-right: 1px solid #CCC;
}

tr.even td.active {
  background: #e5e9ed;
}

tr.odd td.active {
  background: #f2f2f2;
}

tr:hover td,
tr.even:hover td.active,
tr.odd:hover td.active {
  background: #FFFEEE;
}

td ul.links {
  margin-bottom: 0;
}

.node-links ul li a,
.comment-links ul li a {
  text-transform: lowercase;
  display: block;
  float: left;
  text-decoration: none;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  margin: 0 0.5em 0.5em 0;
  vertical-align: middle;
  -webkit-appearance: none;
  -moz-border-radius: 11px;
  -webkit-border-radius: 11px;
  border-radius: 11px;
  background: #ddd url(../images/button.png) repeat-x;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #ddd));
  background: -moz-linear-gradient(top center, #fff 0%, #ddd 100%);
  border: 1px solid;
  border-color: #ddd #bbb #999;
  cursor: pointer;
  color: #333;
  font: bold 12px/1.2 Arial, sans-serif;
  outline: 0;
  overflow: visible;
  padding: 4px 10px 3px;
  text-shadow: #fff 0 1px 1px;
  width: auto;

  /* IE7 */
  *padding-top: 2px;
  *padding-bottom: 0px;
}

.node-links ul li a:hover,
.comment-links ul li a:hover {
  background: #FFF;
}

.tips,
.description {
  font-size: 10px;
  color: #6a6a6a;
}